.rotate-paragraph {
  width: 250px;
  height: 250px;
  transform: rotate(90deg);
}

.rotate-list {
  transform: rotate(12deg);
  width: 100px;
  background-color: red;
  color: white;
}

.rotate-list2 {
  transform: rotate(-20deg);
  width: 100px;
  background-color: blue;
  color: white;
}

.rotate-list-items li {
  width: 100px;
  text-align: right;
}
.rotate-list-items li:nth-child(1) {
  transform: rotate(-10deg);
  background-color: yellow;
}
.rotate-list-items li:nth-child(2) {
  transform: rotate(2deg);
  background-color: blue;
  color: white;
}
.rotate-list-items li:nth-child(3) {
  transform: rotate(10deg);
  background-color: red;
}

.rotate-image {
  transform: rotate(-10deg);
}

.rotate-image2 {
  transform: rotate(180deg);
}

.rotate-table {
  position: relative;
  left: 50px;
  transform: rotate(15deg);
}
.rotate-table tr:nth-child(1) {
  background-color: black;
  color: white;
}
.rotate-table tr:nth-child(n+2) {
  background-color: yellow;
}
.rotate-table tr:nth-child(n+5) {
  background-color: blue;
  color: white;
}
.rotate-table tr:nth-child(n+8) {
  background-color: red;
}
.rotate-table tr:nth-child(n+11) {
  background-color: green;
  color: white;
}

.gradients-linear {
  background: linear-gradient(yellow, red);
  width: 200px;
  height: 200px;
}

.gradients-linear2 {
  background: linear-gradient(blue, green);
  width: 400px;
  height: auto;
}

.gradients-radial {
  background: radial-gradient(yellow, green);
  width: 200px;
  height: 200px;
}

.gradients-radial2 {
  background: radial-gradient(pink, red);
  width: 200px;
  height: 200px;
}

.gradients-positioned { background: radial-gradient(at top left, blue, red);
  width: 200px;
  height: 200px;
  color: white;
}

.gradients-positioned2 {
  background: radial-gradient(at bottom center, darkviolet, lightskyblue);
  width: 200px;
  height: 200px;
  color: white;
}

.animation-keyframes {
  position: relative;
  top: 0px;
  animation-duration: 7s;
  animation-name: slidein;
  width: 200px;
  height: 200px;
  background-color: red;
  color: white;
}

@keyframes slidein {
  from {
    position: relative;
    top: 0px;
    font-size: 100%;
    margin-left: 100%;
    width: 200px;
    height: 200px;
    background-color: yellow;
    color: black;
  }
  50% {
    position: relative;
    top: -200px;
    font-size: 300%;
    margin-left: 25%;
    width: 400px;
    height: 400px;
    background-color: blue;
    color: white;
  }
  to {
    position: relative;
    top: 0px;
    font-size: 100%;
    margin-left: 0%;
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
  }
}

.animation {
  position: relative;
  top: 0px;
  animation-duration: 7s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 400px;
  height: 200px;
  background-color: darkgreen;
  color: lightyellow;
}

@keyframes slide {
from {
  position: absolute;
  top: 10px;
  font-size: 100%;
  margin-left: 100%;
  width: 200px;
  height: 400px;
  background-color: blueviolet;
  color: white;
}
75% {
  position: relative;
  top: -150px;
  font-size: 120%;
  margin-left: 50%;
  width: 400px;
  height: 400px;
  background-color: whitesmoke;
  color: indianred;
}
to {
  position: relative;
  top: 0px;
  font-size: 100%;
  margin-left: 0%;
  width: 200px;
  height: 400px;
  background-color: cadetblue;
  color: violet;
}
}

.flex-container-1 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.flex-container-2 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: end;
}

.flex-container-3 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: space-around;
}

.flex-container-4 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: space-between;
}

.flex-container-5 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.flex-container-6 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-container-7 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
}

.flex-container-7 > .flex-box {
  flex-basis: 100%;
}

.flex-box {
  border: 5px gray solid;
  margin: 10px;
  padding: 10px;
}

.flex-box-gen {
  border: 5px darkgreen solid;
  margin: 15px;
  padding: 20px;
}

.flex-box-gen-2 {
  border: 2px red solid;
  margin: 15px;
  padding: 20px;
  background-color: white;
  color: black;
}

.flex-box-gen-3 {
  border: 7px blue solid;
  margin: 15px;
  padding: 20px;
}

.flex-box-1 {
  background-color: pink;
  color: darkred;
}

.flex-box-2 {
  background-color: deeppink;
  color: white;
}

.flex-box-3 {
  background-color: darkred;
  color: white;
}

.flex-box-4 {
  background-color: deeppink;
  color: white;
}

.flex-box-5 {
  background-color: rebeccapurple;
  color: white;
}

@media (min-width: 300px) and (max-width: 600px) {
  body {
    background-color: deeppink;
  }
  p {
    background-color: yellow;
    color: blue;
  }
  h2 {
    background-color: brown;
    color: white;
  }
  div {
    background-color: darkseagreen;
    color: darkblue;
    font-size: 20px;
  }
  .media-query {
      background-color: blueviolet;
      color: white; }
}

@media (min-width: 600px) and (max-width: 1200px) {
  body {
    background-color: white;
    color: darkblue;
  }
  p {
    background-color: lightskyblue;
    color: blue;
  }
  h2 {
    background-color: darkgreen;
    color: white;
  }
  .media-query {
    background-color: blue;
    color: white;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  body {
    background-color: white;
    color: black;
  }
  h2 {
    background-color: deeppink;
    color: black;
  }
  .media-query {
    background-color: hotpink;
    color: black;
  }
}
