a
{text-decoration: none;
}

@media (min-width: 1400px) and (max-width: 1800px) {
  .wd-left-tab {

  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .wd-left-tab {

  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .wd-left-tab {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .wd-left-tab {
    display: none;
  }
  .wd-right-tab {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .wd-left-tab {
    display: none;
  }
  .wd-right-tab {
    display: none;
  }
}

.wd-font-ellipse {
  font-size: 60%;
}

.left-padding-more-icon {
  padding-left: 3px;
}

.left-padding-0 {
  padding-left: 0px;
}

.margin-0 {
  margin: 0px;
}

.wd-width {
  width: 100%;
}

.wd-post-image {
  display: block;
  width: 65px;
  height: 67px;

  border-radius: 20%;
}

.wd-avatar-image {
  display: block;
  border-radius: 50%;
}

.wd-follow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wd-fg-blue {
  color: #0a58ca;
}

.wd-borders-not-rounded {
  border-radius: 0%;
}

.wd-min-height {
  min-height: 80px;
}
